*{

}
.Bar-section{
  background-color: rgb(5, 5, 55);
}
.Access-section{
    background-color: white;
}
.envelop{
    background-color: rgb(14, 14, 73);
    align-items: center;
}
nav{
    display: none;
}
.container{
   align-items: center;
   margin-left: 100px;

    
}
.container2{
    display: block;
    margin-left: 60px;
    
}
.tit{
    display: flex;
}
h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:20px ;
}
.nu{
   margin-left: 250px;
   margin-top: 30px;
}
.Hire-section{
    background-color: rgba(3, 3, 13, 0.928);
}
.image{
    border: 10px solid rgb(184, 184, 12);
    width: 230px;
    height: 280px;
    margin: auto;
    margin-left: 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin: auto;

}

.hre{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
}
.prof{
    color: white;
}
span{
    color: rgb(205, 21, 58);
}
.btn{
    margin-top: 50px;
    width: 330px;
    height: 40px;
    margin-bottom: 20px;
    color: white;
    background-image: linear-gradient( rgb(222, 23, 23), rgb(171, 30, 171));
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}
.first{
    line-height: 30px;
    font-size: 16px;
}
.left-col-main{
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.ex{
    color: white;
    border-bottom: 1px solid white;
    width: 109px;
    
}
.left-col{
    margin-top: 50px;
}
.Acc{
    color:black;
    font-size: 20px;
    margin-top: 30px;
    
}

.right-col-col-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.right-col-main{
    margin-top: 130px;
    text-align: center;
}
.wrap2{
    margin-top: 50px;
}
.desk{
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sett{
    margin-top: -5px;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right-col-col-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.wrap3{
    margin-top: 50px;
}
.being{
    margin-top: -1px;
}
.being{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.right-col-col-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.right-col{
    display: flex;
    margin-left: 15px;
    margin-top: -20px;

    
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    
}
.mob{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content:space-between;
    margin-top: -30px;
}
.uot{
   display: flex; 
   text-align: left;
   line-height: 17px;
   font-size: 9px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.join{
    display: flex;
    text-align: left;
    line-height: 17px;
    font-size: 9px;
    margin-left: -5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clients{
    margin-left: -20px;
    font-size: 11px;
}
.pro{
    margin-left: -20px;
    font-size: 11px;
}
.col-3{
    margin-left: 30px;
    font-size: 11px;
    color: white;
}
.col-2{
    font-size: 11px;
    color: white;
    margin-left: 15px;
    

}
.right-col{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 15px;
    
}
.one{
    margin-left: 5px;
    font-size: 10px;

}
.port{
    display: flex;
    margin-top: -5px;
}
.for{
   margin-left: 5px;
   padding: 0.9px;
}
.two{
    margin-left: -20px;
}
.talents{
    display: flex;
}
.icon{
    font-size: 12px;
}



