*{

}
.Bar-section{
  background-color: rgb(5, 5, 55);
}
.Access-section{
    background-color: white;
}
.envelop{
    background-color: rgb(14, 14, 73);
    align-items: center;
}
nav{
    display: none;
}
.container{
   align-items: center;
   margin-left: 10px;

    
}
.container2{
    display: block;
    margin-left: 2px;
    
}
.tit{
    display: flex;
    align-items: center;
    border: 1px solid white;
}
.pile{
    margin-left: 30px;
}
h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:20px ;
}
.nu{
   margin-left: 200px;
   margin-top: 30px;
}
.Hire-section{
    background-color: rgba(3, 3, 13, 0.928);
}
.image{
    border: 10px solid rgb(184, 184, 12);
    width: 230px;
    height: 280px;
    margin: auto;
    margin-left: 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin: auto;

}

.hre{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
}
.prof{
    color: white;
}
span{
    color: rgb(205, 21, 58);
}
.btn{
    margin-top: 50px;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    color: white;
    background-image: linear-gradient( rgb(222, 23, 23), rgb(171, 30, 171));
    border: none;
    border-radius: 10px;
    align-items: center;
}
.first{
    line-height: 30px;
    font-size: 16px;
}
.left-col-main{
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.ex{
    color: white;
    border-bottom: 1px solid white;
    width: 110px;
    margin-left: 9px;
    
    
}
.left-col{
    margin-top: 50px;
}
.Acc{
    color:black;
    font-size: 20px;
    margin-top: 30px;
    
}

.right-col-col-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.right-col-main{
    margin-top: 130px;
    text-align: center;
}
.wrap2{
    margin-top: 50px;
}
.desk{
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sett{
    margin-top: -5px;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right-col-col-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.wrap3{
    margin-top: 50px;
}
.being{
    margin-top: -1px;
}
.being{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.right-col-col-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.right-col{
    display: flex;
    margin-left: 15px;
    margin-top: -20px;

    
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    padding-bottom: 10px;
    
}
.mob{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content:space-between;
    margin-top: -30px;
    margin-left: 5px;
    
}

.clients{
    margin-left: -30px;
    font-size: 10px;
}
.pro{
    margin-left: -20px;
    font-size: 10px;
}
.col-3{

    color: white;
    font-size: 15px;
    margin-left: 25px;
}
.col-2{
    font-size: 15px;
    color: white;
    

}
.right-col{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 15px;
    
}
.one{
    margin-left: -17px;
    font-size: 10px;

}
.port{
    display: flex;
    margin-top: -5px;
    font-size: 10px;
}
.for{
   margin-left: 5px;
   padding: 0.9px;
}
.two{
    margin-left: -2px;
}
.talents{
    display: flex;
}
.icon{
    font-size: 10px;
    margin-left: -10px;
}
.uot{
    font-size:8px;
}
.date{
    font-size: 8px;
    margin-left: -5px;
    padding-left: 17px;
}
.ox{
    font-size: 8px;

}
.zx{
    font-size: 8px;
    margin-left: -9px;
}
.Add{
    padding: 20px;
    margin-top: -10px;
    margin-left: 10px;
}
.comb{
    display: flex;
    margin-left: -30px;
}
.gu{
    margin-left: -5px;
}

.footer2{
    display: flex;
    padding: 200px;
    margin-top: -230px;
    margin-left: 45px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.tal{
    font-size: 10px;
    margin-top: -90px;

}
.comp{
    font-size: 10px;
    margin-left: -7px;
}
.lents{
    font-size: 10px;
    margin-left: 30px;


}
.design{
    margin-left: -100px;
    
}
.cmpy{
    font-size:10px ;
}
.company{
    margin-left: 70px;
}
.nd{
    margin-top: 150px;
    margin-left: -250px;
    font-size: 10px;
    border-top: 1px solid white;
    text-align: center;

    


}


    





